$primary-nav-color: #3f9ae4;
$primary-text-color: white;

.navbar-dark, .sidebar {
  background-color: $primary-nav-color!important;
  color: $primary-text-color;
}

.sidebar {
  width: 100px!important;
}

a.nav-item {
  color: $primary-text-color!important;
}

.wrapper {
  display: flex;
  align-items: stretch;
}
