$primary-nav-color: #474545;
$primary-text-color: white;

.navbar-dark, .sidebar {
  background-color: $primary-nav-color!important;
  color: $primary-text-color;
}

.sidebar {
  width: 100px!important;
  height: 100%!important;
}

.sidebar-brand {
  width: 100%!important;
}

.side-item {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
